/**
 * Club de photo Chicoutimi theme for reveal.js.
 *
 * Based on league theme.
 *
 * Copyright (C) 2019-2020 Jean-Pierre Bluteau
 */

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url(../../lib/font/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

// Override theme settings (see ../template/settings.scss)
$heading1Size: 2.11em;
$heading2Size: 1.55em;
$heading3Size: 1em;
$heading4Size: 0.8em;

$headingTextShadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
$heading1TextShadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb,
  0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1),
  0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
  0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
  0 20px 20px rgba(0, 0, 0, 0.15);

// Background generator
@mixin bodyBackground() {
  @include radial-gradient(rgba(28, 30, 32, 1), rgba(85, 90, 95, 1));
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// custom styles

/*********************************************
 * COLUMNS
 *********************************************/

.reveal .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  .column,
  .inner-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  .main {
    background-color: fade-out($linkColor, 0.9);
  }
}

.reveal .row-start {
  break-before: always;
}

.reveal .logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.reveal .logo {
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  justify-content: center;
  background: #2b2e32;

  img {
    background: #2b2e32 !important;
    display: block;
    max-width: 12rem;
    max-height: 10rem;
    width: auto;
    height: auto;
    margin: auto !important;
  }
}

@mixin animation-delay($duration) {
  -webkit-animation-delay: $duration;
  animation-delay: $duration;
}

.reveal .animated.delay-0_5s {
  @include animation-delay(0.5s);
}

.reveal .animated.delay-1_5s {
  @include animation-delay(1.5s);
}

.reveal .animated.delay-2_5s {
  @include animation-delay(2.5s);
}

.reveal .animated.delay-3_5s {
  @include animation-delay(3.5s);
}

.reveal .animated.delay-4_5s {
  @include animation-delay(4.5s);
}

.reveal .animated.delay-5_5s {
  @include animation-delay(5.5s);
}

.reveal .animated.delay-6s {
  @include animation-delay(6s);
}

.reveal .animated.delay-6_5s {
  @include animation-delay(6.5s);
}

.reveal .animated.delay-7s {
  @include animation-delay(7s);
}

.reveal .animated.delay-7_5s {
  @include animation-delay(7.5s);
}

.reveal .animated.delay-8s {
  @include animation-delay(8s);
}

.reveal .animated.delay-8_5s {
  @include animation-delay(8.5s);
}

.reveal .animated.delay-9s {
  @include animation-delay(9s);
}

.reveal .animated.delay-9_5s {
  @include animation-delay(9.5s);
}

.reveal .animated.delay-10s {
  @include animation-delay(10s);
}

.reveal .animated.delay-10_5s {
  @include animation-delay(10.5s);
}

.reveal .content-box {
  font-size: 1.5rem;

  .column {
    background: #2b2e32;
    margin: 0.5rem;
    padding: 0.5rem;
  }

  strong {
    margin-bottom: 0.25rem;
  }

  .inner-column {
    margin-right: 1rem;
  }
}

.reveal img {
  &.landscape {
    max-width: 85%;
    height: auto;
  }

  &.portrait {
    max-width: 45%;
    height: auto;
  }
}

.reveal blockquote {
  border-left: 5px solid rgba(255, 255, 255, 0.25);;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";

  &:before {
    color: $mainColor;
    content: open-quote;
    font-size: $heading2Size;
    margin-right: 0.25em;
  }
}

.reveal cite {
  font-style: italic;

  &:before {
    content: "-";
    margin-right: 1rem;
  }
}

.reveal .popup-text {
  background-color: fade-out($backgroundColor, 0.25);
}
