<section>
    <h1>On ne devait pas parler de macro?</h1>
    <p>En éloignant la lentille du capteur de l'appareil, on change la taille de l'image formée au plan focal.  On augmente le grandissement.</p>
    <P>Le grandissement maximum d'une lentille est atteint à la distance minimale de focus.</P>
</section>