<section>
    <h1>L'abberration chromatique</h1>
    <p>En éloignant l'objectif du capteur ou en ajoutant un élément supplémentaire à la lentille, on modifie comment le parcours de la lumière dans l'objectif.</p>
    <p>Ceci peut créer de l'abberration chromatique surtout si le facteur de grossissement est élevé.</p>   
</section>