<section>
    <h1>Solutions</h1>
    <ul>
        <li>Post-traitement</li>
        <li>Essayer une méthode différente (filtre, lentille inversée, tubes)</li>
        <li>Essayer une lentille différente</li>
        <li>Se procurer une lentille spécialisée pour la macro</li>
    </ul>
</section>