<section>
    <h1>La profondeur de champs</h1>
    <p>La profondeur de champs en macro est très petite.  Ceci rend le focus difficile à obtenir.</p>
    <p>Arrière plan flou garanti.</p>
    <table>
        <tr>
            <th>F</th>
            <th>Profondeur de champs*</th>
        </tr>
        <tr>
            <td>2.8</td>
            <td>0.36mm</td>
        </tr>
        <tr>
            <td>8</td>
            <td>1.41mm</td>
        </tr>
        <tr>
            <td>22</td>
            <td>2.82mm</td>
        </tr>
    </table>
    <small>* calculé pour un appareil 35mm à 1:1</small>
</section>