<section>
    <h1>Solutions</h1>
    <ul>
        <li>Diminuer le facteur de grossissement</li>
        <li>Refermer la lentille</li>
        <li>Placer le sujet dans l'axe de la caméra</li>
        <li>Focus stacking</li>
    </ul>
</section>