<section data-background-image="./images/focal-plan-mark.jpg">
    <h1>La distance minimale de focus</h1>
    <p class="popup-text">Distance minimale pour laquelle la lentille peut faire le focus mesuré à partir du plan focal de la caméra.</p>
</section>