<section>
    <h1>La distance focale</h1>
    <img src="./images/distance-focale.jpg" />
    <table>
        <tr>
            <td><h4>O</h4></td><td>centre optique</td>
        </tr>
        <tr>
            <td><h4>F</h4></td><td>foyer</td>
        </tr>
        <tr>
            <td><h4>Distance entre O et F</h4></td><td>distance focale ou focale</td>
        </tr>
    </table>
</section>