<section>
    <h1>Facteur de grandissement</h1>
    <p>On dit souvent aussi agrandissement ou grossissement.</p>
    <div class="logo">Taille de l'image sur le capteur / Taille de l'objet</div>
</section>