<section>
    <h1>Solutions</h1>
    <ul>
        <li>Focus manuel</li>
        <li>Activer l'écran LCD de l'appareil</li>
        <li>Utiliser un trépied</li>
        <li>Utiliser un rail pour macro</li>
        <li>Utiliser un déclencheur à distance</li>
    </ul>
</section>