<section>
    <h1>Bagues d'inversion</h1>
    <h2>Double</h2>
    <div class="row">
        <div class="column">
            <ul>
                <li>Se place sur l'avant de la lentille</li>
                <li>Une seconde lentille se visse sur la bague</li>
                <li>L'arrière de la seconde lentille pointe vers le sujet</li>
            </ul>
        </div>
        <div class="column">
            <img src="./images/reverse-lens.jpg" </div>
        </div>
</section>