<section>
    <h1>Bagues d'inversion</h1>
    <h2>Simple</h2>
    <div class="row">
        <div class="column">
            <ul>
                <li>Se place sur l'appareil</li>
                <li>La lentille se visse sur la bague</li>
                <li>L'arrière de la lentille pointe vers le sujet</li>
            </ul>
        </div>
        <div class="column">
            <img src="./images/reverse-ring.jpg" />
        </div>
    </div>
</section>