<section>
    <h1>Les problèmes</h1>
    <div class="row">
        <div class="logo">Profondeur de champs</div>
        <div class="logo">Éclairage</div>
    </div>
    <div class="row">
        <div class="logo">Stabilité et focus</div>
        <div class="logo">Aberration chromatique</div>
    </div>
</section>