<section>
    <h1>La macrophotographie c'est quoi?</h1>
    <blockquote>Ensemble des techniques photographiques - ainsi qu'à l'activité photographique associée- permettant de photographier des sujets de petite taille entre les rapports de grandissement 1:1 et 10:1.</blockquote>
    <p><cite>Wikipedia</cite></p>
</section>