<section>
    <h1>Lentilles</h1>
    <table>
        <tr>
            <td>
                <h2>Macro</h2>
            </td>
            <td>
                <p>Optimisé pour la macro</p>
                <p>Facteur de reproduction 1:1</p>
            </td>
        </tr>
        <tr>
            <td>
                <h2>Macro-focussing</h2>
            </td>
            <td>
                <p>Fonctionne en mode macro ou standard</p>
            </td>
        </tr>
        <tr>
            <td>
                <h2>Standard</h2>
            </td>
            <td>Nécessite un "modificateur"</td>
        </tr>
    </table>
</section>