<section>
    <h1>Solutions</h1>
    <ul>
        <li>Augmenter le temps d'exposition</li>
        <li>Ajout de lumière (flash, led, autre)</li>
        <li>Ajout de réflecteurs</li>
        <li>Ajout de diffuseur</li>
    </ul>
</section>