<section>
    <h1>Filtres macro</h1>
    <div class="row">
        <div class="column">
            <ul>
                <li>Filtre visé à l'avant de la lentille.</li>
                <li>Diminue la distance minimale de focus.</li>
                <li>L'effet est mesuré en dioptères. Plus c'est haut, plus l'image grossis.</li>
            </ul>
        </div>
        <div class="column">
            <img src="./images/close-up-filter.jpg" />
        </div>
    </div>
</section>