<section>
    <h1>On coupe les cheveux en quatre</h1>
    <table>
        <tr>
            <td><h2>Gros plan</h2></td>
            <td><h2>Macro</h2></td>
            <td><h2>Micro</h2></td>
        </tr>
        <tr>
            <td>L'objet photographié apparaît plus gros que ce qu'on voit en réalité.</td>
            <td>Le facteur de grandissement est de 1:1 ou plus grand.</td>
            <td>Le facteur de grandissement est très grand.</td>
        </tr>
    </table>
</section>