<section data-background-image="./images/title-background.jpg">
    <h1>La macrophotographie a bon prix<br /><small>ou comment sauver sa maison tout en faisant de la photo</small></h1>
    <h3>par Jean-Pierre Bluteau</h3>
</section>