<section >
    <h1>Outils et ressources</h1>

    <table>
        <tr>
            <td>
                <b>Nicolas Quendez</b>
            </td>
            <td>
                <a>http://www.nicolas-quendez.com/bases-doptique-pour-photographes/</a>
            </td>
        </tr>
        <tr>
            <td>
                <b>Cambridge in colour</b>
            </td>
            <td>
                <a>https://www.cambridgeincolour.com/tutorials/macro-photography-intro.htm</a>
            </td>
        </tr>
        <tr>
            <td>
                <b>Wikipedia</b>
            </td>
            <td>
                <a>https://fr.wikipedia.org/wiki/Macrophotographie</a>
            </td>
        </tr>
    </table>
</section>