<section>
    <h1>Extensions</h1>
    <div class="row">
        <div class="column">
            <h2>Tubes</h2>
            <img src="./images/extension-tubes.jpg" />
        </div>
        <div class="column">
            <h2>Soufflet</h2>
            <img src="./images/bellows.jpg" />
        </div>
    </div>
</section>